# Create Dataframe with Randomly Columns - Export Different File Types

## Imports

In [4]:
import pandas as pd
import numpy as np

In [23]:
np.random.seed(100)
df = pd.DataFrame()
df['integer'] = np.random.randint(low=1, high=10, size=200)
df['datetime'] = pd.Series(pd.date_range('1/1/2018', periods=200, freq='S'))
df['category'] = np.random.randint(low=0, high=2, size=200)

In [24]:
df.head()

   integer            datetime  category
0        9 2018-01-01 00:00:00         0
1        9 2018-01-01 00:00:01         0
2        4 2018-01-01 00:00:02         1
3        8 2018-01-01 00:00:03         1
4        8 2018-01-01 00:00:04         1

## Export data to different formats

In [1]:
df.to_csv("./data/data.csv", index=False)
df.to_excel('./data/data.xlsx', index=False)
df.to_html('./data/data.html', index=False)
df.to_json('./data/data.json')
df.to_hdf('./data/data.h5', key='datetime')

NameError: name 'df' is not defined